@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #77b5d9;
  --card: #d7eaf3;
  --foreground: #14397d;
}

body {
  background-color: var(--background);
}

.link {
  @apply text-blue-500 hover:text-blue-700;
}

.card {
  @apply bg-[var(--card)] p-5 sm:p-10 shadow-lg;
}

.hover {
  @apply cursor-pointer hover:bg-gray-300 rounded-md;
}
